<!DOCTYPE html>
<html>
  <head>
    <title>CuriousCorpus</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script src="/static/application.js"></script>
  </head>
  <body>
      <h1>CuriousCorpus</h1>
      <div id="input-div">
        <form action="/texts" method="post" id="input-text">
          <textarea name="inputText" id="input-text-field" cols="90" rows="20">Input a book to analyze here</textarea><br>
          <input type="submit" name="submit">
        </form>
      </div>
      <a href="/texts">Analytics for 2,000 books</a>
      <button id="test-data"> Test 2,000 books for free! </button>
  </body>
</html>
