<h3>Multinomial Naive Bayes</h3>
<p>accuracy: %74.5</p>
<table id="mnb-table">
  <tr>
    <th></th>
    <th>1500</th>
    <th>1600</th>
    <th>1700</th>
    <th>1800</th>
    <th>1900</th>
  </tr>
  <tr>
    <td>1500</td>
    <td>43</td>
    <td>7</td>
    <td>12</td>
    <td>7</td>
    <td>0</td>
  </tr>
  <tr>
    <td>1600</td>
    <td>6</td>
    <td>61</td>
    <td>41</td>
    <td>9</td>
    <td>1</td>
  </tr>
  <tr>
    <td>1700</td>
    <td>5</td>
    <td>11</td>
    <td>305</td>
    <td>137</td>
    <td>8</td>
  </tr>
  <tr>
    <td>1800</td>
    <td>5</td>
    <td>9</td>
    <td>133</td>
    <td>816</td>
    <td>29</td>
  </tr>
  <tr>
    <td>1900</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>70</td>
    <td>205</td>
  </tr>
</table>

<h3>Random Forest</h3>
<p>accuracy: %81.4</p>
<table id="rf-table">
    <tr>
    <th>1500</th>
    <th>1600</th>
    <th>1700</th>
    <th>1800</th>
    <th>1900</th>
  </tr>
  <tr>
    <td>1500</td>
    <td>42</td>
    <td>2</td>
    <td>12</td>
    <td>13</td>
    <td>0</td>
  </tr>
  <tr>
    <td>1600</td>
    <td>1</td>
    <td>35</td>
    <td>63</td>
    <td>18</td>
    <td>1</td>
  </tr>
  <tr>
    <td>1700</td>
    <td>0</td>
    <td>0</td>
    <td>316</td>
    <td>18</td>
    <td>1</td>
  </tr>
  <tr>
    <td>1800</td>
    <td>0</td>
    <td>0</td>
    <td>29</td>
    <td>947</td>
    <td>16</td>
  </tr>
  <tr>
    <td>1900</td>
    <td>0</td>
    <td>0</td>
    <td>1</td>
    <td>51</td>
    <td>223</td>
  </tr>
</table>

<h3>Support Vector Machine</h3>
<p>accuracy: %78.5</p>
<table id="svm-table">
    <tr>
    <th>1500</th>
    <th>1600</th>
    <th>1700</th>
    <th>1800</th>
    <th>1900</th>
  </tr>
  <tr>
    <td>1500</td>
    <td>49</td>
    <td>2</td>
    <td>7</td>
    <td>11</td>
    <td>0</td>
  </tr>
  <tr>
    <td>1600</td>
    <td>6</td>
    <td>39</td>
    <td>55</td>
    <td>17</td>
    <td>1</td>
  </tr>
  <tr>
    <td>1700</td>
    <td>2</td>
    <td>7</td>
    <td>281</td>
    <td>168</td>
    <td>8</td>
  </tr>
  <tr>
    <td>1800</td>
    <td>0</td>
    <td>0</td>
    <td>33</td>
    <td>950</td>
    <td>9</td>
  </tr>
  <tr>
    <td>1900</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>87</td>
    <td>188</td>
  </tr>
</table>
