<!DOCTYPE html>
<html>
  <head>
    <title>CuriousCorpus</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script src="/static/application.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div class="col-sm-10">
      <h2>Statistics</h2>
      <h3>Multinomial Naive Bayes</h3>
      <p>accuracy: %74.5</p>
      <table class="table table-hover" id="mnb-table">
        <tr>
          <th></th>
          <th>1500</th>
          <th>1600</th>
          <th>1700</th>
          <th>1800</th>
          <th>1900</th>
        </tr>
        <tr>
          <th>1500</th>
          <td>43</td>
          <td>7</td>
          <td>12</td>
          <td>7</td>
          <td>0</td>
        </tr>
        <tr>
          <th>1600</th>
          <td>6</td>
          <td>61</td>
          <td>41</td>
          <td>9</td>
          <td>1</td>
        </tr>
        <tr>
          <th>1700</th>
          <td>5</td>
          <td>11</td>
          <td>305</td>
          <td>137</td>
          <td>8</td>
        </tr>
        <tr>
          <th>1800</th>
          <td>5</td>
          <td>9</td>
          <td>133</td>
          <td>816</td>
          <td>29</td>
        </tr>
        <tr>
          <th>1900</th>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>70</td>
          <td>205</td>
        </tr>
      </table>

      <h3>Random Forest</h3>
      <p>accuracy: %81.4</p>
      <table class="table table-hover" id="rf-table">
          <tr>
          <th></th>
          <th>1500</th>
          <th>1600</th>
          <th>1700</th>
          <th>1800</th>
          <th>1900</th>
        </tr>
        <tr>
          <th>1500</th>
          <td>42</td>
          <td>2</td>
          <td>12</td>
          <td>13</td>
          <td>0</td>
        </tr>
        <tr>
          <th>1600</th>
          <td>1</td>
          <td>35</td>
          <td>63</td>
          <td>18</td>
          <td>1</td>
        </tr>
        <tr>
          <th>1700</th>
          <td>0</td>
          <td>0</td>
          <td>316</td>
          <td>18</td>
          <td>1</td>
        </tr>
        <tr>
          <th>1800</th>
          <td>0</td>
          <td>0</td>
          <td>29</td>
          <td>947</td>
          <td>16</td>
        </tr>
        <tr>
          <th>1900</th>
          <td>0</td>
          <td>0</td>
          <td>1</td>
          <td>51</td>
          <td>223</td>
        </tr>
      </table>

      <h3>Support Vector Machine</h3>
      <p>accuracy: %78.5</p>
      <table class="table table-hover" id="svm-table">
          <tr>
            <th></th>
          <th>1500</th>
          <th>1600</th>
          <th>1700</th>
          <th>1800</th>
          <th>1900</th>
        </tr>
        <tr>
          <th>1500</th>
          <td>49</td>
          <td>2</td>
          <td>7</td>
          <td>11</td>
          <td>0</td>
        </tr>
        <tr>
          <th>1600</th>
          <td>6</td>
          <td>39</td>
          <td>55</td>
          <td>17</td>
          <td>1</td>
        </tr>
        <tr>
          <th>1700</th>
          <td>2</td>
          <td>7</td>
          <td>281</td>
          <td>168</td>
          <td>8</td>
        </tr>
        <tr>
          <th>1800</th>
          <td>0</td>
          <td>0</td>
          <td>33</td>
          <td>950</td>
          <td>9</td>
        </tr>
        <tr>
          <th>1900</th>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>87</td>
          <td>188</td>
        </tr>
      </table>
      <a href="/">Home</a>
    </div>
  </body>
</html>
